.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.center{text-align:center;}

/*--headers--*/
h1, h2{color:$red; font-size:48px;}
h5{font-size:24px; margin:0;}


/*--paragraph--*/
p{margin:0;}


/*--imagenes de inicio--*/
.home-imgs{width:75%; display: block; margin:2% auto;}
.red-square{background-color:red; display: inline-block; width:5px; height:5px; vertical-align: middle; margin: 0 10px 0 0;}


/*--borders--*/
.border-top-red{border-top:3px solid $red;}
.side-border{display:inline-block; vertical-align:middle; width:15%; border-top:1px solid $red; margin-top:10px;}

.mast{
	img{display: block; width:100%;}
}

.container{width:80%; padding: 1% 5%; margin: 0 auto;}
 
/*--paginas--*/

.inicio{
	.container{
		.inner{
			.p-cont{width:40%; float:left; 
				.side-border{float:left;}
				p{float:right; width:80%;}
			}
			
			.p-cont2{width:40%; float:left; 
				.side-border{float:left; margin-top:30px;}
				h3{float:right; width:80%; margin:0; font-weight:normal; color:$red; font-size:48px;}
				h4{float:right; width:80%; margin:0; font-size:30px;}
			}

			
			h5{float:right; width:40%;}
			h6{float:right; width:40%; margin-top:75px; margin-right:13%; font-size: 18px; line-height:20px; font-weight:normal;}
		}
	}
}


/*--servicios--*/

.servicios{
	.container{		
		.inner{padding: 10px;
			 .etabs { margin:5% 0 0 0; padding: 0; list-style-type: none; width:40%; text-align: right;
			 	.tab { display: inline-block; zoom:1; *display:inline; margin:0 2%; width:15%; &.active a{background-color:#000;}
				 	a{color:#fff;text-decoration:none; display: block; border-radius:50%; padding: 35% 0%; background-color:$drk-gray; text-align: center; &:hover{background-color:#000;}}
			 	}
			 }			 
		}
	}

}

#us{
	h5{width:50%; margin: 5% auto;}
	
	p{float:left; width:40%; line-height:25px;}
	
	ul{float:right; display:block; width:40%;
		li{display:block; margin: 0 0 20px 0; }
	}
}




/*--servicios projects---*/


